.about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  background-color: #f7f5f3;
  font-size: large;
  height: auto;
  flex-wrap: wrap;
  text-align: center;
  padding: 4%;
}

.aboutContent {
  justify-content: center;
  font-size: normal;
  text-align: left;
  width: 60%;
}

.about h2 {
  /* font-family: sans-serif; */
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: xx-large;
}

.aboutContent p {
  font-size: normal;
  font-family: sans-serif;
  color: rgb(42, 42, 42);
  line-height: 1.8;
  font-weight: lighter;
}
