html {
  scroll-behavior: smooth;
}

.container-1 {
  background-color: powderblue;
  height: 100%;
}

/**
.container-2 {
  background-color: #ceb1be;
  height: 400px;
  padding: 50px;
}
*/
.container-3 {
  background-color: white;
  height: 400px;
  padding: 50px;
}

.container-4 {
  background-color: #f1e4e8;
  height: 300px;
  padding: 50px;
}

.container-5 {
  background-color: #2d2d34;
  height: 100px;
  padding: 50px;
}

.h2 {
  padding: 200px;
}
